*{
    margin: 0;
    padding: 0;
}

#contact {
    background-color: white;
    height: 100vh;
}

.contact-body {
    background-color: #EFEFEF;
    height: 63vh;
}

.contact-body h3 {
    margin-top: 40px;
}
.contact-body p {
    margin-top: 20px;
}

.contact-body > ul {
    width: 100%;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height : 100%;

}

.contact-body li {
    border: 0px solid #fff;
    list-style: none;
    text-align: center;
    height: 330px;
    width: 370px;
    padding: 0 20px;
    position: relative;
}


/* 이미지 */
.contact-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* 바로가기 링크 버튼 */
.contact-link {
    text-decoration: none;
    font-size:0.9rem;
    font-weight: bold;
    color: #18A0FB;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%)
}

.contact-link:hover {
    transition: 0.4s;
}


/* =====================패드===================== */

@media (max-width: 1540px){
    .contact-body{
        height: 450px;
    }

    .contact-body ul {
        padding: 0 10px;
        width: 100%;

    }
    .contact-body li {
        margin: 0 auto;
        height: 350px;
        font-size: 0.9rem;
    }
}




/* =====================모바일===================== */
@media (max-width: 640px) {
    #contact {
        height: 1200px;
    }
    
    /* 회색 배경 */
    .contact-body > ul{ 
        width: 100%;
        display: block;
        padding: 0;
    }
    .contact-body li{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100vw;
        height: 300px;
    }

    .contact-text {
        position: relative;
        width: 50vw;
        height: 100%;
    }



    /* 이미지 */
    .contact-body li:nth-child(1) img,
    .contact-body li:nth-child(3) img {
        /* position: absolute; */
        display: block;
        width: 100px;
        height: 100px;
        top: 50%;
        margin: auto 5vw;
    }
    .contact-body li:nth-child(2) img {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 10vw;
    }

    /* 타이틀 */
    .contact-body li:nth-child(1) h3,
    .contact-body li:nth-child(3) h3 {
        /* position: absolute; */
        right: 0;
        font-size: 2.5em;
        padding-top: 5vh;
        /* padding-bottom: 0.5rem; */
    }
    .contact-body li:nth-child(2) h3 {
        font-size: 2.5rem;
        padding-top: 5vh;
    }



    /* 내용 */
    .contact-body li:nth-child(1) p,
    .contact-body li:nth-child(3) p {
        position: absolute;
        right: 0;
        /* text-align: left; */
        font-size: 0.8rem;
        /* width: 50vw; */
        /* margin: 0 5vw 0 0 */
    }
    .contact-body li:nth-child(2) p {
        position: absolute;
        right: 0;
        font-size: 0.8rem;
    }


}