#minister {
    height: 100vh;
    width: 100vw;
}

.minister-body{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 5% auto 0 auto;
    
}

.minister-item{
    justify-content: space-between;
    margin: 0 auto;
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 15px 15px 5px gray;
}

.minister-title {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}



@media (max-width: 1300px){
    .minister-body{
        width: 90%;
    }

}



@media (max-width: 900px){
    #minister {
        height: 100%;
    }

    .minister-body{
        display:block;
        width: 90%;
    }

    .minister-item{
        width: 250px;
        height: 350px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 2px 15px 15px 5px gray;

        margin-bottom: 70px;
    }



    .minister-item:last-child {
        margin-bottom: 140px;
    }
}

