.carousel{
    text-align: center;
    height: 70vh;
    background-color: rosybrown;
}

.carouse-item {
    height: 70vh;
    background-color: #c8c8c8;
    margin: 0 auto;
    text-align: center;
}

.Carousel-title {
    position: absolute;
    bottom: 50%;
    transform: translateY(70%);
}

.Carousel-title > h1{
    font-size: 4rem;
    font-weight: bold;
}

.Carousel-title > p {
    font-size: 1.5rem;
}