*{
    margin: 0;
    padding: 0;
}
.tbody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.table-sheet {
    width: 1000px;
    background-color: #c4c4c4;
    margin: 0 auto;
}



.table-head {
    background-color: white;
    height: 3rem;
    font-size: 1.1rem;
    color: #6991e1;
    border-bottom: 2.5px solid #c4c4c4;
}

.table-body {
    background-color: white;
    font-size: 0.9rem;
    height: 22rem;
}

tr:hover:not(.table-head > tr) {
    background-color: #bcc2ce;
}

.ths {
    font-weight: normal;
    padding-left: 10px;
}
.tds{
    height: 2.3rem;
    padding-left: 10px;
    border-bottom: 1px solid #c8c8c8;
}




/* 모바일/패드 반응형 */
@media (max-width: 1000px) {
    .table-sheet {
        width: 100vw;
        /* height: 70vh; */
    }

    .table-head {
        background-color: rgb(245, 240, 240);
        /* height: 1rem; */
        font-size: 0.9rem;
        font-weight: bold;
        color: #112f72;
        border-bottom: 2.5px solid #c4c4c4;
    }
    
    .table-body {
        background-color: white;
        font-size: 0.8rem;
        height: 10rem;
    }

    .tds{
        height: 2.3rem;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #c8c8c8;
    }

}